[submodule "Frameworks/EX2Kit"]
	path = Frameworks/EX2Kit
	url = git@github.com:einsteinx2/EX2Kit.git
[submodule "Frameworks/FMDB"]
	path = Frameworks/FMDB
	url = git@github.com:einsteinx2/fmdb.git
[submodule "Frameworks/SBJson"]
	path = Frameworks/SBJson
	url = git@github.com:einsteinx2/json-framework.git
[submodule "Frameworks/TBXML"]
	path = Frameworks/TBXML
	url = git@github.com:einsteinx2/TBXML.git
[submodule "Frameworks/ZipKit"]
	path = Frameworks/ZipKit
	url = git@github.com:kolpanic/ZipKit.git
[submodule "Frameworks/CocoaHTTPServer"]
	path = Frameworks/CocoaHTTPServer
	url = git@github.com:einsteinx2/CocoaHTTPServer.git
[submodule "Frameworks/RaptureXML"]
	path = Frameworks/RaptureXML
	url = git@github.com:einsteinx2/RaptureXML.git
